@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 20px;
  background-color: rgb(247, 247, 247);
}

body > * {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

h1 {
  font-weight: 500 !; 
}

#diagrama1 {
  height: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
}

th {
  font-weight: 500;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 500px;
}

input:disabled,
select:disabled {
  background-color: #2b2b2b;
  color: #777;
  cursor: not-allowed;
}

label {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px dashed rgb(156, 156, 156);
  padding-bottom: 4px;
  margin-bottom: 10px;
}

section {
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

section .obiect img {
  width: 100%;
  height: auto;
}

section .obiect {
  cursor: pointer;
  width: 100px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px dashed rgb(156, 156, 156);
  padding:4px;
}

section .obiect:hover {
  opacity: 0.6;
}

section .obiect p {
  word-break: break-all;
}
